<nav class="navigation bg-accent">
    <a href="/profile/<%= username %>"><span><%= username %></span></a>  
    <div class="home-link"><a href="/home">Socialite</a></div>
    <a href="/logout">Logout</a>
</nav>