<%- include('partials/header') -%>

<main class="bg-dark">
    <section class="bg-accent">
        <a href="/login" class="col-3 btn btn-primary"> Login</a>
        <a href="/signup" class="col-3 btn btn-primary"> Signup</a>
    </section>
</main>
    

<%- include('partials/footer') -%>