<%- include('partials/header') -%>
<%- include('partials/navigation') -%>
<script src="/js/main.js" defer></script>
<main class="index-main-content">
  <div class="form-container">
    <form class="post-form" action="post/createPost" enctype="multipart/form-data" method="POST">
      <textarea class="bg-dark post-form-items" name="caption" type="text" placeholder="What would you like to say <%= username %>?"></textarea>
      <small class="error"></small>
      <div class="index-button-div">
        <div class="index-form-left-buttons">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-file-image" viewBox="0 0 16 16">
              <path d="M8.002 5.5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0z"/>
              <path d="M12 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2zM3 2a1 1 0 0 1 1-1h8a1 1 0 0 1 1 1v8l-2.083-2.083a.5.5 0 0 0-.76.063L8 11 5.835 9.7a.5.5 0 0 0-.611.076L3 12V2z"/>
            </svg>
          <label for="imgUpload" class="form-label">
            Image
          </label>

          <input type="file" class="form-control" id="imageUpload" name="file">
        </div>

        <button class="form-button fs-300" value="send" type="submit">Post</button>
      </div>
    </form>
  </div>

  <section class="recent-posts">
    <ul>
      <% for(let i = 0; i < posts.length; i++) { %>
        <li class="card">
          <div class="user-time-posted">
            <a href="/profile/<%= posts[i].username%>">
              <span class="fs-300 post-username"><%= posts[i].username %></span>
              <span class="fs-200"> - <%= timePosted[i] %></span>
            </a>
            <% if(posts[i].username === username) { %>
              <button class="three-dots interaction-icons delete-button" type="submit">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="darkred" class="bi bi-trash2" viewBox="0 0 16 16">
                  <path d="M14 3a.702.702 0 0 1-.037.225l-1.684 10.104A2 2 0 0 1 10.305 15H5.694a2 2 0 0 1-1.973-1.671L2.037 3.225A.703.703 0 0 1 2 3c0-1.105 2.686-2 6-2s6 .895 6 2zM3.215 4.207l1.493 8.957a1 1 0 0 0 .986.836h4.612a1 1 0 0 0 .986-.836l1.493-8.957C11.69 4.689 9.954 5 8 5c-1.954 0-3.69-.311-4.785-.793z"/>
                </svg>
              </button>
            <% } %> 
          </div>
          <div class="post-content">
            <% if(posts[i].cloudinaryId) { %>
              <div class="post-image-container">
                <img src="<%= posts[i].image %>">
              </div>
            <% } %> 
            <span class="fs-300 post-caption"><%= posts[i].caption %></span>
            <hidden><%= posts[i]._id %></hidden>           
          </div>
          
          <div class="post-interactions">
            <button class="interaction-icons comment-button">
              <svg xmlns="http://www.w3.org/2000/svg" class="bi bi-chat" viewBox="0 0 16 16">
                <path d="M2.678 11.894a1 1 0 0 1 .287.801 10.97 10.97 0 0 1-.398 2c1.395-.323 2.247-.697 2.634-.893a1 1 0 0 1 .71-.074A8.06 8.06 0 0 0 8 14c3.996 0 7-2.807 7-6 0-3.192-3.004-6-7-6S1 4.808 1 8c0 1.468.617 2.83 1.678 3.894zm-.493 3.905a21.682 21.682 0 0 1-.713.129c-.2.032-.352-.176-.273-.362a9.68 9.68 0 0 0 .244-.637l.003-.01c.248-.72.45-1.548.524-2.319C.743 11.37 0 9.76 0 8c0-3.866 3.582-7 8-7s8 3.134 8 7-3.582 7-8 7a9.06 9.06 0 0 1-2.347-.306c-.52.263-1.639.742-3.468 1.105z"/>
              </svg><%= comments[i] %>
            </button>
            <button class="interaction-icons like-button <%= (posts[i].likes.includes(user.id)) ? 'active' : ''  %>" type="submit">
              <svg xmlns="http://www.w3.org/2000/svg" class="bi bi-heart" viewBox="0 0 16 16">
                <path d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z"/>
              </svg><span class="like-button-span"><%= posts[i].likes.length %></span>
            </button>
          </div>
        </li>
      <% } %>
    </ul>
  </section>
  <section class="modal-background">
    <div class="comment-modal">
      <svg id="modal-exit-button" class="modal-exit" xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-x" viewBox="0 0 16 16">
        <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
      </svg>
      <div class="modal-post-container"></div>
      <form class="post-form comment-form" method="POST">
        <textarea class="bg-dark post-form-items comment-form-items" name="comment" type="text" placeholder="Write your reply"></textarea>
        <div class="index-button-div">
          <small class="error"></small>
          <button class="form-button fs-300 comment-form-button" value="send" type="submit">Reply</button>
        </div>
      </form> 
    </div>
  </section>
  <section class="delete-modal-background">
    <div class="delete-modal">
      <svg id="delete-exit-button" class="modal-exit" xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-x" viewBox="0 0 16 16">
        <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
      </svg>
      <span>Are you sure you want to delete your post?</span>
      <form class="delete-form">
        <button class="yes-delete-button" type="submit">
          Yes
        </button>
        <button class="no-form-button ">
          no
        </button>
      </form>
    </div>
  </section>
</main>

<%- include('partials/footer') -%>