<%- include('partials/header') -%>

<main>
  <form id="login-form" action="login" method="POST" class="bg-accent">
    <span>Socialite Login</span>
    <input name="username" type="text" autocomplete="off"placeholder="Username">
    <small class="error"></small>
    <input name="password" type="password" placeholder="Password">
    <small class="error"></small>
    <button type="submit" value="Send">Login</button>

  </form>
  <a class="new-page-link" href="signup">Signup</a>
  <a class="new-page-link" href="change-password">Forgot password?</a>
</main>

<%- include('partials/footer') -%>
