<%- include('partials/header') -%>

<main>
  <form id="login-form" action="login" method="POST">
    <span>Socialite Login</span>
    <input name="name" type="text" autocomplete="off" class="login-name" placeholder="Username" id="username">
    <small class="error"></small>
    <input name="name" type="password" class="login-password" placeholder="Password" id="password">
    <small class="error"></small>
    <button id="form-submit-button" type="submit" value="Send">Login</button>
    <a class="new-page-link" href="signup">Signup</a>
    <a class="new-page-link" href="change-password">Forgot password?</a>
  </form>
</main>

<%- include('partials/footer') -%>
