/* ------------------- */
/* Custom properties   */
/* ------------------- */

:root {
    /* colors */
    --clr-dark: 230 35% 7%;
    --clr-light: 223 43% 27%;
    --clr-white: 0 0% 100%;
    
    /* font-sizes */
    --fs-900: 9.375rem;
    --fs-800: 6.25rem;
    --fs-700: 3.5rem;
    --fs-600: 2rem;
    --fs-500: 1.75rem;
    --fs-400: 1.25rem;
    --fs-300: 1rem;
    --fs-200: 0.85rem;
    
    /* font-families */
    --ff-serif: "Bellefair", serif;
    --ff-sans-cond: "Barlow Condensed", sans-serif;
    --ff-sans-normal: "Barlow", sans-serif;
}


/* ------------------- */
/* Reset               */
/* ------------------- */


/* Box sizing */
*,
*::before,
*::after {
    text-decoration: none;
    box-sizing: border-box;
    list-style: none;

}

/* Reset margins */
body,
h1,
h2,
h3,
h4,
h5,
p,
figure,
picture {
    margin: 0; 
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    font-weight: 400;
}

/* set up the body */
body, main {
    font-family: var(--ff-sans-normal);
    font-size: var(--fs-400);
    color: hsl( var(--clr-white) );
    background-color: hsl( var(--clr-dark) );
    line-height: 1.5;
    min-height: 100vh;
    max-width: 100%;
}

/* make images easier to work with */
img,
picutre {
    max-width: 100%;
    display: block;
}

/* make form elements easier to work with */
input,
button,
textarea,
select {
    font: inherit;
}

/* remove animations for people who've turned them off */
@media (prefers-reduced-motion: reduce) {  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}


/* ------------------- */
/* Utility classes     */
/* ------------------- */

/* general */

.flex {
    display: flex;
    gap: var(--gap, 1rem);
}

.grid {
    display: grid;
    gap: var(--gap, 1rem);
}

.flow > *:where(:not(:first-child)) {
    margin-top: var(--flow-space, 1rem);
}

.container {
    max-width: 80rem;
}

.sr-only {
  position: absolute; 
  width: 1px;
  height: 1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap; /* added line */
  border: 0;
}

hidden {
    display: none;
    pointer-events: none;
    opacity: 0;
}

/* colors */

.bg-dark { background-color: hsl( var(--clr-dark) );}
.bg-accent { background-color: hsl( var(--clr-light) );}
.bg-white { background-color: hsl( var(--clr-white) );}

.text-dark { color: hsl( var(--clr-dark) );}
.text-accent { color: hsl( var(--clr-light) );}
.text-white { color: hsl( var(--clr-white) );}

/* typography */

.ff-serif { font-family: var(--ff-serif); } 
.ff-sans-cond { font-family: var(--ff-sans-cond); } 
.ff-sans-normal { font-family: var(--ff-sans-normal); } 

.letter-spacing-1 { letter-spacing: 4.75px; } 
.letter-spacing-2 { letter-spacing: 2.7px; } 
.letter-spacing-3 { letter-spacing: 2.35px; } 

.uppercase { text-transform: uppercase; }

.fs-900 { font-size: var(--fs-900); }
.fs-800 { font-size: var(--fs-800); }
.fs-700 { font-size: var(--fs-700); }
.fs-600 { font-size: var(--fs-600); }
.fs-500 { font-size: var(--fs-500); }
.fs-400 { font-size: var(--fs-400); }
.fs-300 { font-size: var(--fs-300); }
.fs-200 { font-size: var(--fs-200); }

a:link, a:visited {
    color: white;
    background-color: transparent;
}

.new-page-link, .new-page-link:link, .new-page-link:visited {
    margin-top: .2rem;
    color: black;

}


.login-form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-width: 15rem;
    min-height: 10rem;
    padding: 1rem;
    border: 1px solid white;
    color: black;
    border-radius: 3px;
}

.login-form-items {
    font-size: 14px;
    border-radius: 3px;
    width: 100%;
    outline: none;
    border: 1px solid grey;
    margin-bottom: .5rem;
    min-height: 1.75rem;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 2px;
    padding-bottom: 2px;
}

.login-button {
    border-radius: 4px;
    color: white;
    border: none;
    margin-top: .5rem;
}

.login-logo-div {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.login-logo {
    margin-bottom: .5rem;
}

.form-items {
    display: flex;
    flex-direction: row;
    align-items: center;
    box-sizing: border-box;
    font-size: 14px;
    border-radius: 3px;
    width: 100%;
    outline: none;
    margin-bottom: .5rem;

}

.navigation{
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 2.2rem;
    width: 100%;
    position: fixed;
    background: hsl( var(--clr-light) / 0.2 );
    backdrop-filter: blur(1.5rem);
}

.user-time-posted {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    
}

.user-time-posted > a {
    color: rgba(255, 255, 255, 0.5);
}

.post-username {
    font-weight: bold;
}

ul {
    padding-inline-start: 0;
    margin-block-start: 0;
    margin-block-end: 0;
}

.user-profile {
    width: 100vw;
    margin-top: 100px;
}

.user-profile > span {
    margin-bottom: 100px;
}

.index-main-content {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
}

.card {
    border-left: solid rgba(255, 255, 255, 0.5) .7px;
    border-right: solid rgba(255, 255, 255, 0.5) .7px;
    border-bottom: solid rgba(255, 255, 255, 0.5) .7px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-right: 16px;
    padding-left: 16px;
}

.card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
   
}

.post-form {
    display: flex;
    flex-direction: column;
    margin-bottom: 0;
    margin-top: 4rem;

}

.form-container {
    border-left: solid rgba(255, 255, 255, 0.5) .7px;
    border-right: solid rgba(255, 255, 255, 0.5) .7px;
    border-bottom: solid rgba(255, 255, 255, 0.5) .7px;
    min-width: 35rem;
    
}

.post-form-items {
    color: white;
    padding-left: 60px;
    word-break: break-word; 
    padding-right: 50px;
}

.recent-posts {
    width: 28em;
}

.index-button-div {
    display: flex;
    justify-content: space-between;
}

.index-form-left-buttons {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-button {
    border-radius: 9999px;
    border: none;
    min-width: 36px;
    min-height: 36px;
    margin-bottom: 10px;
    margin-right: 15px;
    margin-top: 5px;
    font-weight: bold;
    padding-right: 11px;
}

.form-items-title {
    outline: solid rgba(255, 255, 255, 0.5) .7px;
}

textarea {
    resize: none;
    font-size: 20px;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 5px;
    padding-right: 2px;
    white-space: pre-wrap;
    outline: none;
    border: none;
    max-height: 500px;
}


.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.post-title {
    font-weight: bold;
}

.post-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px;
}

.post-caption {
    width: 100%;
    word-break: break-word;  
}

.post-interactions {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.three-dots {

    padding-top: 10px;

}

.interaction-icons, .three-dots {
    display: flex;
    flex-direction: row;
    padding-bottom: 10px;
    font-size: .9rem;
    background-color: transparent;
    border: none;
    justify-content: center;
    align-items: center;
    fill: white;
    color: white;
}

.interaction-icons > svg {
    display: flex;
    margin-right: 10px;
    width: .9rem;
}

.like-button:hover {
    fill: rgb(169, 0, 0);
    color: rgb(169, 0, 0);
}

.like-button.active {
    fill: red;
    color: red;
}

.comment-button:hover {
    fill: rgb(0, 132, 255);
    color: rgb(0, 132, 255);
}

button {
    cursor: pointer;
}

svg {
    cursor: pointer;
}

.comment-form-items {
    border-top: solid rgba(255, 255, 255, 0.5) .7px;
    border-bottom: solid rgba(255, 255, 255, 0.5) .7px;
}

.comment-form {
   margin-top: 1rem; 
}

.comment-form-items {
    padding-top: 1rem;
}

.empty-comment {
    margin-top: 5rem;
    text-align: center;
    font-size: 1.5rem;
}

.modal-background {
    width: 100vw;
    min-height: 100vh;
    position: fixed;
    background-color: rgba(0, 5, 46, 0.8);
    top: 0;
    display: flex;
    justify-content: center;
    opacity: 0;
    pointer-events: none;
    
}

.modal-background.active {
    pointer-events: auto;
    opacity: 1;
}

.delete-modal-background {
    position: fixed;
    top: 50%;
    display: flex;
    justify-content: center;
    opacity: 0;
    pointer-events: none;
}

.delete-modal-background.active {
    pointer-events: auto;
    opacity: 1;
}

.delete-form {
    padding-top: 20px;
    display: flex;
    justify-content: space-evenly;
}

.comment-modal {
    background-color: black;
    max-width: 600px;
    min-height: 350px;
    height: fit-content;
    border-radius: 15px;
    margin-top: 15vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    flex-direction: column;
    
}

.delete-modal {
    background-color: black;
    height: fit-content;
    border-radius: 15px;
    padding: 50px;
    position: relative;

    
}

.modal-exit {
    position: absolute;
    top: 16px;;
    left: 16px;
    cursor: pointer;
}

.modal-post-container {
    padding-top: 50px;
    width: 100%;
    padding-left: 50px;
    padding-right: 50px;
}

.home-link {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: center;
    z-index: -1;
}


